@page
@model RecruitCatCardoneNew.Pages.Our_TeamModel
@{
}

<h1 style="color: green; font-family: Trebuchet MS; font-size: 70px; padding-bottom: 40px">Meet the Team</h1>

<div class="card-deck">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://www.linkedin.com/dms/C4E04AQFzavXSlsJy6A/profile-originalphoto-shrink_900_1200/0/1539717511449?m=AQKv2yUAQdEQnwAAAXvLbhC9sJR6IS3_NxUiNC0toGeHuIkw7D6uNkRpJg&e=1631291993&v=beta&t=xpbFIfwZmEwxQgbclQJ1Oo4eYNUISbZYhSSXpFS2xQo" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color:black;">Chris Cardone</h5>
                    <p class="card-text" style="color: black; text-align: left; font-size: 14px;">
                        I initially became interested in learning how to write software in high
                        school when mobile applications started to become popular on iPhone and Android. Although I never published an app,
                        I was immediately drawn to the problem solving process of programming that was required to make computers work the way
                        they were supposed to
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://pencheffphoto.com/wp-content/uploads/2017/03/05-5977-post/019-Headshots(pp_w768_h1074).jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color:black;">Dave Smith</h5>
                    <p class="card-text" style="color: black; text-align: left; font-size: 14px; ">
                        I strive to be the bridge between brands and consumers. Along with embracing data analytics to identify
                        customer needs and interests, I also use that information to create strategic content. My goal is
                        to enhance the company’s brand, increase conversion rates, and drive sales, all through the power
                        of digital marketing and SEO
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://i.pinimg.com/originals/c9/7e/7c/c97e7cd921419193a983dc3aac5050ce.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" style="color:black;">Andrew Johson</h5>
                <p class="card-text" style="color: black; text-align: left; font-size: 14px;">
                    I have over 15 years of experience in the software development arena.
                    To say that coding is a passion is an understatement, as it is a love that has continuously helped
                    me overcome obstacles, embrace challenges, and keep my career moving forward. I’ve had the
                    opportunity to add a range of capabilities to my repertoire, including JavaScript, HTML, CSS, React,
                    and Python, just to name a few.
                </p>
            </div>
        </div>
    </div>
</div>