@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="header">
        <h1>Cardone Recruitment Company</h1>
        <p>Find qualified candidates today</p>
    </div>

    <div class="row">
        <div class="side">
            <h2 style="color:black;">Contact</h2>
            <p style="text-align:left; color:black;">
                5375 Medpace Way<br />
                Cincinnati, Ohio &nbsp;45227 USA
            </p>
            <img class="customimg" height="170px" src="https://images.adsttc.com/media/images/5527/0ecb/e58e/cecd/8200/018a/newsletter/portada_3E7E0815.jpg?1428623043" />
            <p style="text-align:left; color:black;">
                Phone Number: (513) 321-1234 <br />
                Email: bestrecruiters@gmail.com
            </p>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3>More Text</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <div class="fakebutton" style="height:60px;">Service 1</div><br>
            <div class="fakebutton" style="height:60px;">Service 2</div><br>
            <div class="fakebutton" style="height:60px;">Service 3</div>
        </div>
        <div class="main">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="customimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <br>
            <h2>TITLE HEADING</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div class="customimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </div>
</body>