@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="header">
        <h1>Cardone Recruitment Company</h1>
        <p>Find qualified candidates today</p>
    </div>

    <div class="row">
        <div class="side">
            <h2 style="color:black;">Contact</h2>
            <p style="text-align:left; color:black;">
                5375 Medpace Way<br />
                Cincinnati, Ohio &nbsp;45227 USA
            </p>
            <img class="customimg" height="170px" src="https://images.adsttc.com/media/images/5527/0ecb/e58e/cecd/8200/018a/newsletter/portada_3E7E0815.jpg?1428623043" />
            <p style="text-align:left; color:black;">
                Phone Number: (513) 321-1234 <br />
                Email: bestrecruiters@gmail.com
            </p>
            <h5 style="color:black;">Try out our other services: </h5>
            <div class="fakebutton" style="height:60px;">Application for Employers</div><br>
            <div class="fakebutton" style="height:60px;">Application for Job Seekers</div><br>
            <div class="fakebutton" style="height:60px;">Find the right industry for you</div>
        </div>
        <div class="main">
            <h2 style="color:black;">Who We Are:</h2>
            <p style="color:black;">
                We are a nimble team that is laser beam focused at making hiring better through technology. We are here
                because of our team and because we care about people having a better experience with the hiring process.
                We have offices in California, Texas and New York, but service the whole United States across multiple industries.
                If you are in need of talent, we’re here to help.
            </p>
            <img class="customimg" style="height:400px;" src ="https://www.upward.net/static/media/who-we-are-1.ef82852b.jpg"></img>
            <h2 style="color:black; padding-top:40px">Mission Statement: </h2>
            <p style="color:black;">We care about hiring. We know hiring can be difficult at times. But it doesn’t have to be. We want to do
            our small part in keeping the engine of the world running. Most of our team has felt the frustration
            on both sides of the hiring process at one time or another. We care about making hiring easier to
            help you achieve your goals. If after working with us you say: “Well... that was better than
            expected,” we know we have made a difference. And that is what keeps us coming back tomorrow.</p>
            <img class="customimg" style="height:400px;" src ="https://cms-assets.themuse.com/media/lead/_1200x630_crop_center-center_82_none/16096.jpg?mtime=1568860453"></img>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="main">
            <div class="card-group main">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>