@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="header" style="font-family: Trebuchet MS;">
        <h1><strong>Cardone Recruitment Company</strong></h1>
        <p>Find qualified candidates today</p>
    </div>

    <div class="row">
        <div class="side">
            <h2 style="color: black; font-family: Trebuchet MS;">Contact</h2>
            <p style="text-align: left; color: black; font-family: Verdana;">
                5375 Medpace Way<br />
                Cincinnati, Ohio &nbsp;45227 USA
            </p>
            <img class="customimg" height="170px" src="https://images.adsttc.com/media/images/5527/0ecb/e58e/cecd/8200/018a/newsletter/portada_3E7E0815.jpg?1428623043" />
            <p style="text-align: left; color: black; font-family: Verdana;">
                Phone Number: (513) 321-1234 <br />
                Email: bestrecruiters@gmail.com
            </p>
            <h5 style="color: black; font-family: Trebuchet MS;">Try out our other services: </h5>
            <div class="fakebutton" style="height:60px;">Application for Employers</div><br>
            <div class="fakebutton" style="height:60px;">Application for Job Seekers</div><br>
            <div class="fakebutton" style="height:60px;">Find the right industry for you</div>
        </div>
        <div class="main">
            <h2 style="color: black; font-family: Trebuchet MS;">Who We Are:</h2>
            <p style="color: black; font-family: Verdana;">
                We are a nimble team that is laser beam focused at making hiring better through technology. We are here
                because of our team and because we care about people having a better experience with the hiring process.
                We have offices in California, Texas and New York, but service the whole United States across multiple industries.
                If you are in need of talent, we’re here to help.
            </p>
            <img class="customimg" style="height:400px;" src="https://www.upward.net/static/media/who-we-are-1.ef82852b.jpg"></img>
            <h2 style="color: black; padding-top: 40px; font-family: Trebuchet MS; ">Mission Statement: </h2>
            <p style="color: black; font-family: Verdana;">
                We care about hiring. We know hiring can be difficult at times. But it doesn’t have to be. We want to do
                our small part in keeping the engine of the world running. Most of our team has felt the frustration
                on both sides of the hiring process at one time or another. We care about making hiring easier to
                help you achieve your goals. If after working with us you say: “Well... that was better than
                expected,” we know we have made a difference. And that is what keeps us coming back tomorrow.
            </p>
            <img class="customimg" style="height:400px;" src="https://cms-assets.themuse.com/media/lead/_1200x630_crop_center-center_82_none/16096.jpg?mtime=1568860453"></img>
        </div>
        <div class="main">
            <h2 style="color: black; font-family: Trebuchet MS;">Customer Testimonials</h2>
            <div class="card-group main">
                <div class="card">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fblogs-images.forbes.com%2Fpavelkrapivin%2Ffiles%2F2018%2F09%2FHappy-Employee-Working-Laptop-AdobeStock_171333654-by-By-Drobot-Dean-1200x801.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black;">Lisa</h5>
                        <p class="card-text" style="color: black; font-family: Verdana;">
                            "I feel very proud to be one of the oldest employee of GVW. My career has skied with the
                            growth of the company. The extraordinary Knowledge Transfer across the different streams of the
                            project has benefitted lot of employee. I am really grateful to work in a place which makes us
                            grow to greater heights."
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbescoachescouncil%2Ffiles%2F2017%2F12%2Fpexels-photo-450271.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black;">Tommy</h5>
                        <p class="card-text" style="color: black; font-family: Verdana;">
                            “I was fortunate to find RLG after serving as a military officer and general manager for a major
                            big box retailer. RLG is a company that believes in its people. The work is challenging and rewarding.
                            Through the application of RLG tools and performance coaching, we help our clients realize and exceed their
                            goals.”
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzaFkgMf0sR2FUnJEuVjPkn7jo4z1gm9q6BykXhhqE-qBsiJh3pIvAf-PiKmBC5haMIXs&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black;">Chris</h5>
                        <p class="card-text" style="color: black; font-family: Verdana;">
                            “The culture of Capgemini is very engaging and nurturing. This really helps in
                            harnessing different skills of people and bringing them together to a common platform where we can
                            excel."
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>